mixin build-with-love()
  figure
    img(src=require("./images/built-with-love.svg").default,  alt="Build with love")
    figcaption Build with love

mixin made-with-pug()
  figure
    img(src=require("./images/made-with-pug.svg").default,  alt="Made with pug")
    figcaption Made with pug

mixin gluten-free()
  figure
    img(src=require("./images/gluten-free.svg").default,  alt="Gluten free")
    figcaption Gluten free

mixin uses-badges()
  figure
    img(src=require("./images/uses-badges.svg").default,  alt="Uses badges")
    figcaption Uses badges

mixin uses-css()
  figure
    img(src=require("./images/uses-css.svg").default,  alt="Uses CSS")
    figcaption Uses CSS

mixin uses-html()
  figure
    img(src=require("./images/uses-html.svg").default,  alt="Uses HTML")
    figcaption Uses html

mixin uses-js()
  figure
    img(src=require("./images/uses-js.svg").default,  alt="Uses JS")
    figcaption Uses JS
